<ion-card class="card-centered-limited-width" *ngIf="sentSMS">
    <ion-item text-wrap>
        <ion-icon item-left name="text" color="primary"></ion-icon>
        <ion-label>
            {{"forgot-password-card.sentSMS" | translate}}
        </ion-label>
    </ion-item>
</ion-card>

<ion-card>
    <ion-card-content>
        <form [formGroup]="forgotPwForm">
            <ion-list>
                <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                          [class.error]="(!formControl.mobilePhone.valid && formControl.mobilePhone.touched)
                          || formControl.mobilePhone.hasError('notRegistered')">
                    <ion-label floating>{{"login-card.labels.mobilePhone" | translate}}</ion-label>
                    <ion-icon item-left name="phone-portrait" class="floating-label-icon" color="primary"></ion-icon>
                    <ion-input type="tel"
                               [formControl]="formControl.mobilePhone"
                               [(ngModel)]="mobilePhone"
                               (input)="removeNonDigits()">
                    </ion-input>
                </ion-item>
                <div *ngIf="formControl.mobilePhone.hasError('required') && formControl.mobilePhone.touched"
                     class="icon-error-box">
                    {{"login-card.errors.phoneMinLength" | translate}}
                </div>
                <div *ngIf="formControl.mobilePhone.hasError('minlength') && formControl.mobilePhone.touched"
                     class="icon-error-box">
                    {{"login-card.errors.phoneMinLength" | translate}}
                </div>
                <div *ngIf="formControl.mobilePhone.hasError('maxlength') && formControl.mobilePhone.touched"
                     class="icon-error-box">
                    {{"login-card.errors.phoneMaxLength" | translate}}
                </div>
                <div *ngIf="(!formControl.mobilePhone.hasError('minlength')
                            && !formControl.mobilePhone.hasError('maxlength'))
                            && formControl.mobilePhone.hasError('incompletePhoneNumber')
                            && formControl.mobilePhone.touched"
                     class="icon-error-box">
                    {{"login-card.errors.phoneIncomplete" | translate}}
                </div>
                <div *ngIf="formControl.mobilePhone.hasError('notRegistered') && formControl.mobilePhone.touched"
                     class="icon-error-box">
                    {{"login-card.errors.notRegistered" | translate}}
                </div>
                <div padding></div>
            </ion-list>

            <ion-item text-wrap>
                <ion-checkbox [(ngModel)]="isOptIn"
                              [ngModelOptions]="{standalone: true}"></ion-checkbox>
                <ion-label>
                    <small>{{"forgot-password-card.optInText" | translate}}</small>
                </ion-label>
            </ion-item>

            <button ion-button block icon-right
                    [disabled]="!forgotPwForm.valid || !isOptIn"
                    (click)="sendPasswordResetCode()">
                {{"forgot-password-card.send" | translate}}
                <ion-icon name="text"></ion-icon>
            </button>
        </form>

        <button ion-button icon-right clear block
                (click)="showSignInCard()">
            {{"page-login.signIn" | translate}}
            <ion-icon name="log-in"></ion-icon>
        </button>
    </ion-card-content>
</ion-card>
