<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{"page-award-progress-modal.title" | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card padding-bottom>
        <ion-card-header text-center text-wrap>
            <div *ngIf="presentAward" margin-bottom>
                <h1>{{"awards.congratulations" | translate}}</h1>
                <h2>{{"awards.earned" | translate}}</h2>
            </div>
            <h1>{{"awards." + awardInfo.key + ".title" | translate}}</h1>
            <h3 padding>{{"awards." + awardInfo.key + ".description" | translate:translateParam}}</h3>
        </ion-card-header>
        <ion-card-content>
            <div margin>
            <div #awardProgressElement id="awardProgressElement">
                <div class="progressbar-text-background"
                     [style.background-image]="getBackgroundImageUrl()" [style.opacity]="awardImageOpacity"></div>
            </div>
            </div>
            <img src="/images/rewards_banner.png" style="margin: 10px auto; width: 250px;">
            <div margin-top>
                <h1 text-center>
                    <ion-icon>+</ion-icon>{{awardInfo.reward}}&nbsp; Points
                </h1>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <button ion-button block clear
                (click)="dismiss()">
            {{"general.done" | translate}}
        </button>
    </ion-toolbar>
</ion-footer>