<ion-menu #leftMenu [content]="content">
    <ion-header>
        <ion-toolbar color="navbar" class="app-icon-toolbar">
            <ion-title [class.iPhoneX-app-icon-toolbar]="isIPhoneX">
                <ion-row nowrap align-items-center justify-content-start>
                    <div>
                        <img src="{{appIcon}}" height="96" width="96" margin-right/>
                    </div>
                    {{appName}}
                </ion-row>
            </ion-title>
        </ion-toolbar>
        <ion-toolbar color="navbar" *ngIf="user">
            <ion-list no-lines class="list-user">
                <button ion-item detail-none text-wrap
                        class="item-primary"
                        *ngIf="user"
                        (click)="showAccountMenu()">
                    <ion-avatar item-left>
                        <img src="{{user.profile.picture}}" *ngIf="user.profile.picture">
                        <div *ngIf="!user.profile.picture">
                            <button ion-button icon-only round clear color="light"
                                    class="disable-hover no-user-image-icon">
                                <ion-icon name="contact"></ion-icon>
                            </button>
                        </div>
                    </ion-avatar>
                    <h2>{{user.profile.name.display}}</h2>
                    <p class="user-item-email">{{user.username | phone}}</p>
                    <ion-icon name="md-more" item-right></ion-icon>
                </button>
            </ion-list>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list background-color="white">
            <div *ngIf="!user && noUserPages && noUserPages.length > 0">
                <button ion-item text-wrap detail-none
                        *ngFor="let noUserPage of noUserPages"
                        (click)="openPage(noUserPage)">
                    <ion-icon name="{{noUserPage.icon}}" item-left color="primary"></ion-icon>
                    {{noUserPage.title | translate}}
                </button>
            </div>
            <div *ngIf="user && userPages && userPages.length > 0">
                <div *ngFor="let userPage of userPages">
                    <button ion-item text-wrap detail-none
                            *ngIf="!userPage.hide"
                            (click)="openPage(userPage)">
                        <ion-icon name="{{userPage.icon}}" item-left color="primary"></ion-icon>
                        {{userPage.title | translate}}
                    </button>
                </div>
            </div>
            <div *ngIf="pages && pages.length > 0">
                <button ion-item text-wrap detail-none
                        *ngFor="let page of pages"
                        (click)="openPage(page)">
                    <ion-icon name="{{page.icon}}" item-left color="primary"></ion-icon>
                    {{page.title | translate}}
                </button>
            </div>
            <button ion-item text-wrap detail-none
                    *ngIf="user"
                    (click)="logout()">
                <ion-icon name="log-out" item-left color="danger"></ion-icon>
                {{"menu.logout" | translate}}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>