<ion-header>
    <ion-navbar color="navbar">
        <ion-title>{{"page-edit-profile.title" | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button
                    *ngIf="editProfileForm.valid"
                    [disabled]="!editProfileForm.valid"
                    (click)="updateProfile()">
                {{"general.save" | translate}}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="user">
        <ion-card>
            <ion-card-header>
                <h1>{{"page-edit-profile.profilePic" | translate}}</h1>
            </ion-card-header>
            <h1 padding text-center>
                {{"add-image.takePicture" | translate}}!
            </h1>
            <add-image [imageUri]="imageUri"
                       *ngIf="imageUri">

            </add-image>
            <add-image [imageUri]="placeholderImageUri"
                       *ngIf="!imageUri">
            </add-image>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <h1>
                    {{"page-edit-profile.profileInfo" | translate}}
                </h1>
            </ion-card-header>
            <ion-card-content>
                <form [formGroup]="editProfileForm">
                    <ion-list>
                        <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                                  [class.error]="!formControl.givenName.valid && formControl.givenName.touched">
                            <ion-label floating>{{"create-account-card.labels.firstName" | translate}}</ion-label>
                            <ion-icon color="primary" name="person" item-left class="floating-label-icon"></ion-icon>
                            <ion-input type="text"
                                       [(ngModel)]="user.profile.name.given"
                                       [formControl]="formControl.givenName"></ion-input>
                        </ion-item>

                        <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                                  [class.error]="!formControl.familyName.valid && formControl.familyName.touched">
                            <ion-label floating>{{"create-account-card.labels.lastName" | translate}}</ion-label>
                            <ion-icon color="primary" name="person" item-left class="floating-label-icon"></ion-icon>
                            <ion-input type="text"
                                       [(ngModel)]="user.profile.name.family"
                                       [formControl]="formControl.familyName"></ion-input>
                        </ion-item>

                        <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                                  [class.error]="!formControl.email.valid && formControl.email.touched">
                            <ion-label floating>{{"login-card.labels.email" | translate}}</ion-label>
                            <ion-icon color="primary" name="mail" item-left class="floating-label-icon"></ion-icon>
                            <ion-input type="email"
                                       [(ngModel)]="user.emails[0].address"
                                       [formControl]="formControl.email"></ion-input>
                        </ion-item>
                        <div *ngIf="(formControl.email.hasError('required') ||
                            formControl.email.hasError('invalidEmail')) && formControl.email.touched"
                             class="icon-error-box">{{"login-card.errors.invalidEmail" | translate}}
                        </div>
                        <div *ngIf="formControl.email.hasError('registered')"
                             class="icon-error-box">
                            {{"create-account-card.errors.emailAlreadyRegistered" | translate}}
                        </div>

                        <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                                  [class.error]="!formControl.mobilePhone.valid && formControl.mobilePhone.touched">
                            <ion-label floating>{{"login-card.labels.mobilePhone" | translate}}</ion-label>
                            <ion-icon color="primary" name="phone-portrait" item-left
                                      class="floating-label-icon"></ion-icon>
                            <ion-input type="tel"
                                       [(ngModel)]="user.username"
                                       [formControl]="formControl.mobilePhone"
                                       (input)="removeNonDigits()">
                            </ion-input>
                        </ion-item>
                        <div *ngIf="formControl.mobilePhone.hasError('required') && formControl.mobilePhone.touched"
                             class="icon-error-box">
                            {{"login-card.errors.phoneMinLength" | translate}}
                        </div>
                        <div *ngIf="formControl.mobilePhone.hasError('minlength') && formControl.mobilePhone.touched"
                             class="icon-error-box">
                            {{"login-card.errors.phoneMinLength" | translate}}
                        </div>
                        <div *ngIf="formControl.mobilePhone.hasError('maxlength') && formControl.mobilePhone.touched"
                             class="icon-error-box">
                            {{"login-card.errors.phoneMaxLength" | translate}}
                        </div>
                        <div *ngIf="(!formControl.mobilePhone.hasError('minlength')
                    && !formControl.mobilePhone.hasError('maxlength'))
                    && formControl.mobilePhone.hasError('incompletePhoneNumber')
                    && formControl.mobilePhone.touched"
                             class="icon-error-box">
                            {{"login-card.errors.phoneIncomplete" | translate}}
                        </div>
                        <div *ngIf="formControl.mobilePhone.hasError('registered') && formControl.mobilePhone.touched"
                             class="icon-error-box">
                            {{"create-account-card.errors.phoneAlreadyRegistered" | translate}}
                        </div>

                        <div padding></div>
                    </ion-list>
                </form>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>