<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"page-program-management.title" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="programs && programs.length > 0">
        <ion-grid>
            <ion-row wrap style="justify-content: center;">
                <div *ngFor="let program of programs">
                    <ion-card class="program-card">
                        <div class="program-card-img-container">
                            <img src="{{program.imageUri}}" class="card-image" *ngIf="program.imageUri">
                            <img src="{{placeholderImageUri}}" class="card-image" *ngIf="!program.imageUri">
                        </div>
                        <ion-card-content>
                            <h1 text-center>{{program.name}}</h1>
                        </ion-card-content>
                    </ion-card>
                </div>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>