<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-row nowrap align-items-center style="overflow: hidden;">
                <div *ngIf="program && program.imageUri">
                    <div>
                        <img src="{{program.imageUri}}" height="36" width="36" margin-right/>
                    </div>
                </div>
                {{"page-follow-ups-tab.title" | translate}}
            </ion-row>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only
                    (click)="addActivity()"
                    *ngIf="showAddActivityButton">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-toolbar color="light">
        <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged()">
            <ion-segment-button value="{{SEGMENTS.FOLLOW_UP}}">
                {{"page-follow-ups-tab.segments.followUp" | translate}}
            </ion-segment-button>
            <ion-segment-button value="{{SEGMENTS.UNPAID}}">
                {{"page-follow-ups-tab.segments.unpaid" | translate}}
            </ion-segment-button>
            <ion-segment-button value="{{SEGMENTS.PAID}}">
                {{"page-follow-ups-tab.segments.paid" | translate}}
            </ion-segment-button>
            <ion-segment-button value="{{SEGMENTS.DECLINED}}">
                {{"page-follow-ups-tab.segments.declined" | translate}}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <div *ngIf="eventContacts && eventContacts.length > 0">
        <ion-card *ngFor="let eventContact of filteredContacts">
            <ion-item no-details text-wrap>
                <h2 ion-text color="favorite">{{eventContact.contact.name.display}}</h2>
                <p *ngIf="eventContact.contact.email">{{eventContact.contact.email}}</p>
                <p *ngIf="eventContact.contact.phone">{{eventContact.contact.phone | phone}}</p>
            </ion-item>
            <ion-card-content>
                <ion-list>
                    <ion-list-header>{{"page-follow-ups-tab.labels.log" | translate}}</ion-list-header>
                    <ul>
                        <li *ngIf="eventContact.called">
                            {{"page-follow-ups-tab.logStatus.called" | translate}}
                        </li>
                        <li *ngIf="eventContact.called && eventContact.didAnswer">
                            {{"page-follow-ups-tab.logStatus.answered" | translate}}
                        </li>
                        <li *ngIf="eventContact.called && !eventContact.didAnswer">
                            {{"page-follow-ups-tab.logStatus.noAnswer" | translate}}
                        </li>
                        <li *ngIf="eventContact.called && eventContact.leftMessage">
                            {{"page-follow-ups-tab.logStatus.leftMessage" | translate}}
                        </li>
                        <li *ngIf="eventContact.sentSMS">
                            {{"page-follow-ups-tab.logStatus.sentText" | translate}}
                        </li>
                        <li *ngIf="eventContact.declinedCommitment">
                            {{"page-follow-ups-tab.logStatus.declinedCommitment" | translate}}
                        </li>
                        <li *ngIf="eventContact.receivedCommitment">
                            {{"page-follow-ups-tab.logStatus.receivedCommitment" | translate}}
                        </li>
                        <li *ngIf="eventContact.sentOrderConfirmation">
                            {{"page-follow-ups-tab.logStatus.sentOrderConfirmation" | translate}}
                        </li>
                        <li *ngIf="eventContact.isPaid && eventContact.paidOnline">
                            {{"page-follow-ups-tab.logStatus.paidOnline" | translate}}<br>
                        </li>
                        <li *ngIf="eventContact.isPaid && !eventContact.paidOnline">
                            {{"page-follow-ups-tab.logStatus.notPaidOnline" | translate}}<br>
                        </li>
                    </ul>
                </ion-list>
            </ion-card-content>

            <div *ngIf="eventContact.receivedCommitment">
                <ion-item text-wrap>
                    <ion-label *ngIf="program.contract && program.contract.product">
                        {{"page-follow-ups-tab.labels.commitment" | translate}}
                    </ion-label>
                    <ion-icon color="primary" item-right>
                        {{eventContact.commitment || 0}}
                    </ion-icon>
                </ion-item>
                <ion-item text-wrap
                          *ngIf="eventContact.notes">
                    <p>{{"page-order-commitment.labels.notes" | translate}}:</p>
                    <div item-right>{{eventContact.notes}}</div>
                </ion-item>
            </div>
            <div *ngIf="eventContact.isPaid">
                <ion-item text-wrap>
                    <ion-label *ngIf="program.contract && program.contract.product">
                        {{"page-follow-ups-tab.labels.purchased" | translate}}
                    </ion-label>
                    <ion-icon color="primary" item-right>
                        {{eventContact.purchased}}
                    </ion-icon>
                </ion-item>
            </div>
            <ion-card-content>
                <div *ngIf="!eventContact.isPaid" text-right>
                    <button ion-item text-wrap color="primary" detail-none
                            class="ion-item-button"
                            (click)="editCommitment(eventContact)">
                        <ion-icon name="create" item-left></ion-icon>
                        <!--{{"general.update" | translate}}-->
                        <ion-label>
                            <p>{{"page-follow-ups-tab.buttons.enterCommitment" | translate}}</p>
                            <p>{{"page-follow-ups-tab.buttons.sendPaymentLink" | translate}}</p>
                        </ion-label>
                    </button>
                </div>
                <div *ngIf="!eventContact.isPaid" text-right>
                    <button ion-item text-wrap icon-left detail-none
                            color="primary"
                            class="ion-item-button"
                            (click)="goContact(eventContact)">
                        <ion-icon name="call" item-left></ion-icon>
                        {{"page-contact.title" | translate}}
                    </button>
                </div>
            </ion-card-content>
        </ion-card>
    </div>

</ion-content>