<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-row nowrap align-items-center>
                {{"page-contact-info.title" | translate}}
            </ion-row>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-content>
            <h1 text-center padding-top padding-bottom
                *ngIf="program && program.scripts && !contactInfoPageParams.addToContactList">
                {{program.scripts.callToAction}}
            </h1>

            <button ion-item text-wrap
                    color="primary" class="ion-item-button"
                    (click)="pickContact()">
                <ion-icon name="phone-portrait" item-left></ion-icon>
                {{"page-contact-info.labels.choosePhone" | translate}}
            </button>

            <button ion-item text-wrap
                    color="primary" class="ion-item-button"
                    (click)="pickFromList()"
                    *ngIf="!contactInfoPageParams.addToContactList">
                <ion-icon name="list-box" item-left></ion-icon>
                {{"page-contact-info.labels.chooseList" | translate}}
            </button>

            <div padding></div>
            <form [formGroup]="formGroup">
                <ion-list>
                    <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                              [class.error]="(!formControl.phone.valid && formControl.phone.touched) ||
                          formControl.phone.hasError('notRegistered')">
                        <ion-label floating>{{"login-card.labels.mobilePhone" | translate}}</ion-label>
                        <ion-icon name="phone-portrait" item-left class="floating-label-icon"
                                  color="primary"></ion-icon>
                        <ion-input type="tel"
                                   [formControl]="formControl.phone"
                                   [(ngModel)]="contact.phone"
                                   (input)="onPhoneNumberChanged()">
                        </ion-input>
                    </ion-item>
                    <div *ngIf="formControl.phone.hasError('required') && formControl.phone.touched"
                         class="icon-error-box">
                        {{"login-card.errors.phoneMinLength" | translate}}
                    </div>
                    <div *ngIf="formControl.phone.hasError('minlength') && formControl.phone.touched"
                         class="icon-error-box">
                        {{"login-card.errors.phoneMinLength" | translate}}
                    </div>
                    <div *ngIf="formControl.phone.hasError('maxlength') && formControl.phone.touched"
                         class="icon-error-box">
                        {{"login-card.errors.phoneMaxLength" | translate}}
                    </div>
                    <div *ngIf="(!formControl.phone.hasError('minlength')
                            && !formControl.phone.hasError('maxlength'))
                            && formControl.phone.hasError('incompletePhoneNumber')
                            && formControl.phone.touched"
                         class="icon-error-box">
                        {{"login-card.errors.phoneIncomplete" | translate}}
                    </div>
                    <div *ngIf="formControl.phone.hasError('registered')"
                         class="icon-error-box">
                        {{"page-contact-info.toast.exists" | translate}}
                    </div>

                    <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                              [class.error]="!formControl.givenName.valid && formControl.givenName.touched">
                        <ion-label floating>{{"create-account-card.labels.firstName" | translate}}</ion-label>
                        <ion-icon color="primary" name="person" item-left class="floating-label-icon"></ion-icon>
                        <ion-input type="text"
                                   (input)="onNameChanged()"
                                   [(ngModel)]="contact.name.given"
                                   [formControl]="formControl.givenName"></ion-input>
                    </ion-item>

                    <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                              [class.error]="!formControl.familyName.valid && formControl.familyName.touched">
                        <ion-label floating>{{"create-account-card.labels.lastName" | translate}}</ion-label>
                        <ion-icon color="primary" name="person" item-left class="floating-label-icon"></ion-icon>
                        <ion-input type="text"
                                   (input)="onNameChanged()"
                                   [(ngModel)]="contact.name.family"
                                   [formControl]="formControl.familyName"></ion-input>
                    </ion-item>

                    <div *ngIf="contactMethod === CONTACT_METHOD.EMAIL">
                        <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                                  [class.error]="!formControl.email.valid && formControl.email.touched">
                            <ion-label floating>{{"login-card.labels.email" | translate}}</ion-label>
                            <ion-icon color="primary" name="mail" item-left class="floating-label-icon"></ion-icon>
                            <ion-input type="email"
                                       [(ngModel)]="contact.email"
                                       [formControl]="formControl.email"></ion-input>
                        </ion-item>
                        <div *ngIf="(formControl.email.hasError('required') ||
                                     formControl.email.hasError('invalidEmail')) && formControl.email.touched"
                             class="icon-error-box">{{"login-card.errors.invalidEmail" | translate}}
                        </div>
                    </div>

                    <ion-item></ion-item>

                </ion-list>

                <div padding></div>

                <button ion-item color="tertiary" detail-none text-wrap
                        [disabled]="!formGroup.valid"
                        (click)="goContact()"
                        *ngIf="!contactInfoPageParams.addToContactList">
                    <ion-label text-center text-wrap text-uppercase>
                        {{"general.continue" | translate}}
                    </ion-label>
                    <ion-icon name="arrow-round-forward" item-right></ion-icon>
                </button>

                <button ion-item color="tertiary" detail-none text-wrap
                        [disabled]="!formGroup.valid"
                        (click)="onSaveContactInfo()"
                        *ngIf="contactInfoPageParams.addToContactList">
                    <ion-label text-wrap text-uppercase>
                        {{"page-contact-info.labels.saveContactInfo" | translate}}
                    </ion-label>
                    <ion-icon item-left>
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </ion-icon>
                </button>
            </form>
        </ion-card-content>
    </ion-card>

</ion-content>