<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"page-program-registration.title" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card-centered-limited-width">
        <ion-card-content>
            <h1 text-center>
                {{"page-program-registration.message" | translate}}
            </h1>
            <div padding></div>
            <form [formGroup]="formGroup">
                <ion-list>
                    <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                              [class.error]="!formControl.kickoffCode.valid && formControl.kickoffCode.touched">
                        <ion-label floating>{{"page-program-registration.labels.registrationCode" | translate}}
                        </ion-label>
                        <ion-icon color="primary" name="code" item-left class="floating-label-icon"></ion-icon>
                        <ion-input type="number"
                                   [(ngModel)]="kickoffCode"
                                   [formControl]="formControl.kickoffCode"></ion-input>
                    </ion-item>
                    <div *ngIf="formControl.kickoffCode.hasError('invalidKickoffCode')"
                         class="icon-error-box">
                        {{"page-program-registration.errors.kickoffCode" | translate}}
                    </div>

                    <ion-item></ion-item>

                    <button ion-button color="primary" block
                            [disabled]="!formGroup.valid"
                            (click)="onSubmit()">
                        {{"general.continue" | translate}}
                    </button>
                </ion-list>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>