<ion-tabs color="primary" [class.iphonex]="isIPhoneX" [attr.orientation]="getOrientation()">
    <ion-tab [root]="tab1Root"
             tabIcon="home"
             tabTitle="{{'page-home-tab.title' | translate}}">
    </ion-tab>
    <ion-tab [root]="tab2Root"
             tabIcon="contacts"
             tabTitle="{{'page-contacts-tab.title' | translate}}">
    </ion-tab>
    <ion-tab [root]="tab3Root"
             tabIcon="analytics"
             tabTitle="{{'page-rankings-tab.title' | translate}}">
    </ion-tab>
    <ion-tab [root]="tab4Root"
             tabIcon="checkbox-outline"
             tabTitle="{{'page-follow-ups-tab.activity' | translate}}">
    </ion-tab>
    <ion-tab [root]="tab5Root"
             tabIcon="trophy"
             tabTitle="{{'page-info-tab.title' | translate}}">

    </ion-tab>
</ion-tabs>
