<ion-header>
    <ion-navbar color="secondary">
        <ion-title>{{"page-notification-modal.title" | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item text-wrap
                  *ngIf="program">
            <ion-thumbnail item-left>
                <img src="{{program.imageUri}}" *ngIf="program.imageUri">
                <img src="{{appLogo}}" class="app-logo-thumbnail-img" *ngIf="!program.imageUri">
            </ion-thumbnail>
            <h1>{{program.name}}</h1>
        </ion-item>
    </ion-card>

    <ion-card>
        <ion-item text-wrap>
            <h1>{{notification.payload.title}}</h1>
        </ion-item>
        <ion-card-content>
            {{notification.payload.message}}
        </ion-card-content>
    </ion-card>
</ion-content>