<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-row nowrap align-items-center>
                {{"page-my-contact-list.title" | translate}}
            </ion-row>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="myListContacts && myListContacts.length > 0">
        <div *ngFor="let contact of myListContacts">
            <ion-card *ngIf="!contact.hidden">
                <button ion-item detail-none text-wrap
                        (click)="editContact(contact)">
                    <ion-icon item-left
                              [color]="contact.contacted ? 'secondary' : ''"
                              [name]="contact.contacted ? 'checkbox-outline' : 'square-outline'"
                              *ngIf="pickFromList">
                    </ion-icon>
                    <h2>{{contact.name.display}}</h2>
                    <p *ngIf="contact.email">{{contact.email}}</p>
                    <div item-right
                         *ngIf="contact.phone">
                        {{contact.phone | phone}}
                    </div>
                    <button ion-button item-right clear icon-only
                            (click)="confirmRemoveContact(contact)"
                            *ngIf="!pickFromList">
                        <ion-icon name="remove-circle" color="danger"></ion-icon>
                    </button>
                </button>
            </ion-card>
        </div>
    </div>

    <div *ngIf="!myListContacts || myListContacts.length === 0">
        <ion-card>
            <ion-card-header>
                <h1>{{"page-my-contact-list.noContacts" | translate}}</h1>
            </ion-card-header>
            <ion-card-content>
                {{"page-my-contact-list.addContacts" | translate}}
            </ion-card-content>
        </ion-card>
    </div>

    <ion-fab right bottom *ngIf="!pickFromList">
        <button ion-fab color="primary"
                (click)="editContact()">
            <ion-icon>
                <i class="fa fa-user-plus" aria-hidden="true"></i>
            </ion-icon>
        </button>
    </ion-fab>
</ion-content>