page-award-progress-modal {
  .progressbar-text-background {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0;
    margin: 0;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
  }
  #awardProgressElement {
    width: 250px;
    margin: auto;
  }
}