<ion-header>
    <ion-navbar color="navbar"
                *ngIf="isCordova">
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="!isCordova">
        <div padding></div>
        <div class="center-logo">
            <img src="{{appLogo}}">
        </div>
        <div padding></div>

        <ion-card class="card-centered-limited-width" showWhen="mobileweb" *ngIf="customUrl">
            <ion-card-header>
                <h1 text-center>{{"page-landing.passwordReset.header" | translate}}</h1>
            </ion-card-header>
            <ion-card-content>
                <div text-center>
                    {{"page-landing.passwordReset.message" | translate}}
                </div>
                <div padding></div>
                <button ion-button block color="primary" icon-left
                        (click)="openMobileApp()">
                    <ion-icon name="phone-portrait"></ion-icon>
                    {{"page-landing.passwordReset.button" | translate}}
                </button>
            </ion-card-content>
        </ion-card>

        <ion-card class="card-centered-limited-width">

            <ion-card-content>

                <ion-row>
                    <ion-col>
                        <div class="apple-badge">
                            <a href="itms://itunes.apple.com/app/id1232380684?ls=1&mt=8">
                                <img alt="Download on the App Store"
                                     src="/images/app_store_badge.svg"/>
                            </a>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="android-badge">
                            <a href='https://play.google.com/store/apps/details?id=com.gafundraising.fiftyniner.mobile&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                                <img alt='Get it on Google Play'
                                     src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
                            </a>
                        </div>
                    </ion-col>
                </ion-row>

            </ion-card-content>
            <ion-item text-wrap>
                <p text-center>
                    <small>
                        Apple and the Apple logo are trademarks of Apple Inc., registered in the U.S. and other
                        countries.
                    </small>
                </p>
                <p text-center>
                    <small>
                        App Store is a service mark of Apple Inc., registered in the U.S. and other countries.
                    </small>
                </p>
            </ion-item>
            <ion-item text-wrap>
                <p text-center>
                    <small>Google Play and the Google Play logo are trademarks of Google Inc.</small>
                </p>
            </ion-item>
        </ion-card>
    </div>
</ion-content>