@charset "UTF-8";

// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.varialbes.scss file
@import 'app.variables';


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$menu-ios-background: white;
$card-ios-background-color: white;
$label-ios-text-color: black;
$list-ios-background-color: transparent;
$picker-ios-background-color: white;
$loading-ios-spinner-color: $color-primary;

// Ionic iOS Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
$ionic-theme: "Default";
@import "version";
@import "ionic.theme.default.ios";
@import "ionic.components";


// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
@import 'app.core';


// App iOS Only Sass
// --------------------------------------------------
// CSS that should only apply to the iOS app
ion-menu .toolbar-ios ion-title {
  padding: 0 12px;
}

/*
 * Fix tabbar positioning
 */
// Tabbar
.tabbar.show-tabbar {
  top: 64px !important;
}

ion-tabs.iphonex[orientation=portrait] .tabbar.show-tabbar {
  top: 88px !important;
}

ion-tabs.iphonex[orientation=landscape] .tabbar.show-tabbar {
  top: 44px !important;
}

// Fixed-content
ion-tabs.iphonex[orientation=portrait] ion-content .fixed-content {
  margin-top: 137px !important;
}

ion-tabs.iphonex[orientation=landscape] ion-content .fixed-content {
  margin-top: 93px !important;
}

// Scroll-content
ion-tabs.iphonex[orientation=portrait] ion-content .scroll-content {
  margin-top: 137px !important;
}

ion-tabs.iphonex[orientation=landscape] ion-content .scroll-content {
  margin-top: 93px !important;
}
// End tabbar fix

ion-nav .scroll-content, ion-modal .scroll-content {
  padding-left: calc(constant(safe-area-inset-left));
  padding-left: calc(env(safe-area-inset-left));
  padding-right: calc(constant(safe-area-inset-right));
  padding-right: calc(env(safe-area-inset-right));
}

// Fix menu-items
ion-menu ion-header ion-toolbar .item-ios.item-block .item-inner {
  padding-right: 0px;
}

ion-menu ion-header ion-toolbar.toolbar-ios {
  padding-right: 0px;
  padding-left: 0px;
}

ion-nav ion-content .item-ios.item-block {
  padding-left: 16px;
}

ion-nav ion-content .item-ios.item-block .item-inner {
  padding-right: 8px;
  background-position: right 14px center;
}

ion-nav ion-content .list-header-ios {
  padding-left: 16px;
}

.toolbar-ios.app-icon-toolbar {
  height: 150px;
}

.ios ion-menu .menu-inner ion-header ion-toolbar.toolbar-ios.app-icon-toolbar ion-title {
  margin-top: 38px;
  padding-left: calc(constant(safe-area-inset-left) + 12px);
  padding-left: calc(env(safe-area-inset-left) + 12px);
}

.ios ion-menu .menu-inner ion-header ion-toolbar.toolbar-ios.app-icon-toolbar ion-title.iPhoneX-app-icon-toolbar {
  padding-top: 24px;
}

ion-title ion-row {
  justify-content: center;
}
