<ion-card>
    <ion-card-content>
        <form [formGroup]="passwordResetForm">
            <ion-list>
                <!--<ion-item text-wrap class="floating-label-icon-left input-has-icon"-->
                          <!--[class.error]="!formControl.passwordResetCode.valid-->
                          <!--&& formControl.passwordResetCode.touched">-->
                    <!--<ion-label floating>{{"password-reset-card.labels.passwordResetCode" | translate}}</ion-label>-->
                    <!--<ion-icon color="primary" name="code" item-left class="floating-label-icon"></ion-icon>-->
                    <!--<ion-input type="text" [formControl]="formControl.passwordResetCode"></ion-input>-->
                <!--</ion-item>-->
                <!--<div class="icon-input-help-box"-->
                     <!--[class.icon-error-box]="formControl.passwordResetCode.hasError('required')-->
                     <!--&& formControl.passwordResetCode.touched"-->
                     <!--*ngIf="(formControl.passwordResetCode.hasError('required')-->
                     <!--&& formControl.passwordResetCode.touched) || !formControl.passwordResetCode.touched">-->
                    <!--{{"password-reset-card.hints.passwordResetCode" | translate}}-->
                <!--</div>-->
                <!--<div *ngIf="formControl.passwordResetCode.hasError('resetPasswordError')"-->
                     <!--class="icon-error-box">-->
                    <!--{{resetPasswordErrorMessage}}-->
                <!--</div>-->

                <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                          [class.error]="!formControl.password.valid && formControl.password.touched">
                    <ion-label floating>{{"login-card.labels.password" | translate}}</ion-label>
                    <ion-icon color="primary" name="lock" item-left class="floating-label-icon"></ion-icon>
                    <ion-input type="password" [formControl]="formControl.password"></ion-input>
                </ion-item>
                <div *ngIf="formControl.password.hasError('required') && formControl.password.touched"
                     class="icon-error-box">
                    {{"password-reset-card.errors.password" | translate}}
                </div>

                <ion-item text-wrap class="floating-label-icon-left input-has-icon"
                          [class.error]="(!formControl.confirmPassword.valid ||
                          passwordResetForm.getError('mismatchedFields') === 'mismatchedPasswords')
                          && formControl.confirmPassword.touched">
                    <ion-label floating>{{"create-account-card.labels.confirmPassword" | translate}}</ion-label>
                    <ion-icon color="primary" item-left
                              name="checkmark-circle-outline" class="floating-label-icon"></ion-icon>
                    <ion-input type="password"
                               [formControl]="formControl.confirmPassword"></ion-input>
                </ion-item>
                <div class="icon-error-box"
                     *ngIf="formControl.confirmPassword.hasError('required')
                     && formControl.confirmPassword.touched">
                    {{"password-reset-card.errors.confirmPassword" | translate}}
                </div>
                <div class="icon-error-box"
                     *ngIf="passwordResetForm.getError('mismatchedFields') === 'mismatchedPasswords'
                     && formControl.confirmPassword.touched">
                    {{"create-account-card.errors.passwordsMatch" | translate}}
                </div>

                <div padding></div>
            </ion-list>

            <button ion-button block icon-right color="primary"
                    [disabled]="!passwordResetForm.valid"
                    (click)="resetPassword(passwordResetForm.value)">
                {{"page-login.resetPassword" | translate}}
                <ion-icon name="lock"></ion-icon>
            </button>
        </form>

        <button ion-button clear block icon-right
                (click)="showSignInCard()">
            {{"page-login.signIn" | translate}}
            <ion-icon name="log-in"></ion-icon>
        </button>
    </ion-card-content>
</ion-card>