<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"page-program-registration.title" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
<ion-card>
    <img src="{{programImageUri}}">
    <ion-card-header>
        <h1 text-center text-wrap>
            {{program.name}}
        </h1>
        <p text-center *ngIf="program">{{program.eventDate | moment}}</p>
    </ion-card-header>
    <ion-card-content>
        <button ion-button block color="primary" (click)="confirmRegistration()">
            {{"page-confirm-registration.title" | translate}}
        </button>
    </ion-card-content>
</ion-card>
</ion-content>