<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-row nowrap align-items-center>
                <div *ngIf="program && program.imageUri">
                    <div>
                        <img src="{{program.imageUri}}" height="36" width="36" margin-right/>
                    </div>
                </div>
                {{"page-contact.title" | translate}}
            </ion-row>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <h1>{{"page-contacts-tab.labels.call" | translate}}</h1>
        </ion-card-header>
        <ion-card-content>
            <p padding-bottom style="white-space: pre-line; user-select: text;">
            <p padding-bottom style="white-space: pre-line; user-select: text;">
                {{callScript}}
            </p>

            <a href="tel:{{contact.phone}}">
                <button ion-item text-wrap detail-none
                        color="primary" class="ion-item-button"
                        (click)="onSubmit(CONTACT_METHOD.CALL)">
                    <ion-icon name="call" item-left></ion-icon>
                    <ion-label text-center>
                        {{"page-contacts-tab.labels.call" | translate}} {{contact.name.display}}
                    </ion-label>
                </button>
            </a>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <h1>{{"page-contacts-tab.labels.text" | translate}}</h1>
        </ion-card-header>
        <ion-card-content>
            <p padding-bottom style="white-space: pre-line; user-select: text;">
                {{textScript}}
            </p>

            <button ion-item text-wrap detail-none
                    color="primary" class="ion-item-button"
                    (click)="onSubmit(CONTACT_METHOD.TEXT)">
                <ion-icon name="text" item-left></ion-icon>
                <ion-label text-center>
                    {{"page-contacts-tab.labels.text" | translate}} {{contact.name.display}}
                </ion-label>
            </button>
        </ion-card-content>
    </ion-card>

</ion-content>