button.item.ion-item-button {
  margin: 10px 0;
  font-size: 2rem;
  text-transform: uppercase;
}

ion-card.card.card-centered-limited-width {
  max-width: 500px;
  margin: 16px auto 16px;
}

ion-card.card.card-row,
.card-row {
  margin: 16px;
  //width: 350px;
}

img.card-image {
  margin: 0 auto;
  padding: 20px;
  max-height: 250px;
  width: auto;
}

//ion-card.card.program-card {
//  max-width: 250px;
//  margin: 16px auto 16px;
//}
//
//.program-card-img-container {
//  min-height:250px;
//}

ion-icon i.fa {
  font-size: 21px;
}

.center-logo {
  margin: 16px auto;
  width: 200px;
}

ion-item.item ion-thumbnail img.app-logo-thumbnail-img {
  width: 100px;
  height: 80px;
}

.user-select {
  white-space: normal;
  user-select: text;
}

.alert-message {
  white-space: normal;
  user-select: text;
}

.clickable {
  cursor: pointer;
}